# Task 18
## Practical Task

In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
import seaborn as sns
from sklearn.metrics import f1_score, precision_score, recall_score

In [2]:
# Read Iris.csv into jupyter Notebook
df = pd.read_csv("Iris.csv")

In [3]:
df.shape

(150, 6)

In [4]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [5]:
df.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [6]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

## This dataset consists of three classes of irises. The objective is to create a classifier that will predict whether an iris belongs to the **'Iris-setosa'** class or not
### this mean that we have two classes: **'Iris-setosa'** and **not-'Iris-setosa'** (which includes **'Iris-versicolour'** and **'Iris-virginica'** <br>
* Identify your independent variable X
* Encode your dependent variable y such that **'Iris-setosa'** is encoded as **0** and **'Iris-versicolour'** and **'Iris-virginica'**are both encoded as **1**. (**0** corresponds to the **'Iris-setosa'**class and **1** corresponds to the **not-'Iris-setosa'** class)

### Independent Variables 
* SepalLengthCm
* SepalWidthCm
* PetalLengthCm
* PetalWidthCm

### Dependent Variable
* Species

In [7]:
df = df.drop(columns = ['Id'])

In [8]:
df['Species1'] = df.loc[:, 'Species']

In [9]:
label_encoder = preprocessing.LabelEncoder() 
df['Species1']= label_encoder.fit_transform(df['Species1']) 
df

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species1
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,2
146,6.3,2.5,5.0,1.9,Iris-virginica,2
147,6.5,3.0,5.2,2.0,Iris-virginica,2
148,6.2,3.4,5.4,2.3,Iris-virginica,2
149,5.9,3.0,5.1,1.8,Iris-virginica,2

In [10]:
#setosa = 0 but virginica must be corrected to =1
df.loc[df['Species1']==2, 'Species1'] =1
df.tail()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,Species1
145,6.7,3.0,5.2,2.3,Iris-virginica,1
146,6.3,2.5,5.0,1.9,Iris-virginica,1
147,6.5,3.0,5.2,2.0,Iris-virginica,1
148,6.2,3.4,5.4,2.3,Iris-virginica,1
149,5.9,3.0,5.1,1.8,Iris-virginica,1

* split the data into a training and test set

In [11]:
X = df.iloc[:,[0,1,2,3]].values
y = df.iloc[:,5].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=0, shuffle=True, stratify=y)

print ("Training data:",X_train.shape, y_train.shape)
print ("Test data:",X_test.shape, y_test.shape)

Training data: (90, 4) (90,)
Test data: (60, 4) (60,)

* use **sklearn**'s logistic regression function to fit a model and make predictions on the test set

In [12]:
# fit a model
lr = LogisticRegression()
lr.fit(X_train, y_train)

# make predictions on test data
y_pred = lr.predict(X_test).reshape(-1,1)

* use **sklearn** to generate a confusion matrix, which compares the predicted labels to the actual labels (gold labels)

In [13]:
from sklearn.metrics import confusion_matrix

classes = ('Iris-setosa','not-Iris-setosa')
conf_mat = confusion_matrix(y_test, y_pred)
cm_df = pd.DataFrame(conf_mat, columns=classes, index=classes)
cm_df

                 Iris-setosa  not-Iris-setosa
Iris-setosa               20                0
not-Iris-setosa            0               40

* Analyses the confusion matrix and provide a prediction, in a comment, on whether the model is likely to have higher precision, higher recall, or similar precision and recall

In [14]:
# comment: no false positives or negatives appear to have occured, similar precision and recall expected

* Write your *own code* to calculate the accuracy, precision, and recall, and check whether your prediction was right

In [25]:
tp = int(cm_df.iat [0, 0])
fp = int(cm_df.iat [0, 1])
fn = int(cm_df.iat [1, 0])
tn = int(cm_df.iat [1, 1])

 > > > > TruePositive + TrueNegative <br>

Accuracy =  <br>
> > *** 
> >   TruePositive + FalseNegative + TrueNegative + FalsePositive

In [29]:
accuracy = (tp + tn)/ (tp + fp + fn + tn)
print ('Accuracy Score:', accuracy)

Accuracy Score: 1.0

Precision = TruePositive
> > ***
           TruePositive + FalsePositive

In [31]:
precision = tp / (tp+fp)
print ('Precision Score:', precision)

Precision Score: 1.0

Recall =       TruePositive
           -------------------------------
           TruePositive + FalseNegative

In [32]:
recall = tp / (tp+fn)
print ('Recall Score:', recall)

Recall Score: 1.0

In [ ]:
# comment: similar precision and recall found

(**Optional**) Repeat this task but change it so that we only have all three categories **'Iris-setosa','Iris-versicolour'** and **'Iris-virginica'** corresponding to the numeric values 0, 1, and 3 respectivly; this will now be a three-class problem. Observe how this changes the confusion matrix.

In [ ]:
df = df.drop(columns = ['Species1'])

In [ ]:
df['Species2'] = df.loc[:, 'Species']

In [ ]:
label_encoder2 = preprocessing.LabelEncoder() 
df['Species2']= label_encoder2.fit_transform(df['Species2']) 
df

In [ ]:
X2 = df.iloc[:,[0,1,2,3]].values
y2 = df.iloc[:,5].values

X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size=0.4, random_state=0, shuffle=True, stratify=y)

print ("Training data:",X2_train.shape, y2_train.shape)
print ("Test data:",X2_test.shape, y2_test.shape)

In [ ]:
lr2 = LogisticRegression()
lr2.fit(X2_train, y2_train)

y2_pred = lr2.predict(X2_test).reshape(-1,1)

In [ ]:
from sklearn.metrics import confusion_matrix

classes2 = ('Iris-setosa','Iris-versicolour','Iris-virginica')
conf_mat2 = confusion_matrix(y_test, y_pred)
cm_df2 = pd.DataFrame(conf_mat2, columns=classes2, index=classes2)
cm_df2

In [ ]:
ps2a = precision_score(y2_test == classes.index('Iris-setosa'), y2_pred== classes.index('Iris-setosa'))
ps2b = precision_score(y2_test == classes.index('Iris-versicolour'), y2_pred== classes.index('Iris-versicolour'))
ps2c = precision_score(y2_test == classes.index('Iris-virginica'), y2_pred== classes.index('Iris-virginica'))
                       
print('Precision Score:', '\n Iris Setosa:', ps2a, '\n Iris Versicolour:', ps2b, '\n Iris Virginica:', ps2c,)

In [ ]:
rs2a = recall_score(y2_test == classes.index('Iris-setosa'), y2_pred== classes.index('Iris-setosa'))
rs2b = recall_score(y2_test == classes.index('Iris-versicolour'), y2_pred== classes.index('Iris-versicolour'))
rs2c = recall_score(y2_test == classes.index('Iris-virginica'), y2_pred== classes.index('Iris-virginica'))
                       
print('Recall Score:', '\n Iris Setosa:', rs2a, '\n Iris Versicolour:', rs2b, '\n Iris Virginica:', rs2c,)

comments: The program has greater difficulty seperating Iris Versicolour from Iris Virginica. This causes innaccuracy visible in the confusion matrix and in the precisionand recall scores.